@font-face {
    font-family: "login-title";
    src: url('../font/charactersoul/字魂73号-江南手书.ttf');
}
@font-face {
    font-family: "thanks-field";
    src: url('../font/charactersoul/字魂110号-武林江湖体.ttf');
}